{% extends 'base.html' %}

{% block title %}Forget Password{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block body %}
    <title>Forgot Password</title>
    <body>
        <div class="forgot-password-heading-container">
            <h4 class="forgot-password-heading">Please enter your Email id which you used for Sign Up</h4>
        </div>
        <div class="forgot-password-container">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="/reset_password_email" class="forgot-password-form">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input class="email" type="email" id="email" name="email" required>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </body>
    <style>
        /* Styles specific to the "forgot_password.html" template */
        .forgot-password-heading-container {
            text-align: center;
            margin-top: 50px; /* Add space between heading and navbar */
        }

        .forgot-password-heading {
            margin-bottom: 30px; /* Add space between heading and form */
        }

        .forgot-password-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 30px; /* Add space between heading and form */
        }

        .forgot-password-form {
            padding: 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .forgot-password-form label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .forgot-password-form .email {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .forgot-password-form button[type="submit"] {
            padding: 10px 15px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .forgot-password-form button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .forgot-password-form ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .forgot-password-form li {
            color: #d8000c;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
