{% extends 'base.html' %}

{% block title %} Blog Posts for Tag {% endblock title %}

{% block techblogactive %} active {% endblock techblogactive %} 



{% block body %}
<div class="container my-3">
    <h2>Coding Articles for: {{tag}} </h2>
    <div class="row">
        {% for post in allPosts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title custom-card-header">{{ post.title }}</h5>
                        <strong class="d-inline-block mb-2 text-primary">Article by {{ post.author }}</strong>
                        <p class="card-text">{{ post.content|safe|truncatechars:200 }}</p>
                        <a href="/techblog/{{post.slug}}" class="btn btn-info">Read More</a>
                        <strong class="d-inline-block mb-2 text-primary">{{ post.tags }}</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    .custom-card-header {
      background-color: grey;
      color: white;
      padding: 10px;
    }
  </style>

{% endblock %}
